/* .App {
  text-align: center;
} */
@import "DashBoard.css";
@import "Design.css";
@import "Login.css";
@import "Signup.css";
@import "table.css";
@import "Note.css";

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

div#root {
  margin: 2em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    width: -webkit-fill-available;
    /* border: 1px solid grey;
    border-radius: 12px; */
    /* padding: 1em; */
    /* margin: 5em; */
    margin-top: 65px;
    background: rgba(255, 255, 255, 1);
    position: relative;
}
h1, h5 {
  font-weight: 100;
  margin-bottom: 2.5rem;
  margin-top: 1em;
}

img {
  display: grid;
  max-width: 175px;
  cursor: pointer;
  /* margin-top: 20px;
  margin-left: auto;
  margin-right: auto; */
}
.fullScreen{
  max-width: 100vw !important; 
}
/* form {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 0, 0, 0.25);
  padding: 20px;
  border-radius: 10px;
} */

.contant {
  display: flex;
  /* margin-bottom: 20px; */
}

button.btn.btn-primary.add{
  /* margin-top: 24px; */
  /* margin-left: 22px; */
  border: none;
  background: none;
  margin-bottom: 30px;
}

label {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}
.cointainer {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
background-color: 6A1B1B;
}

.menu_selection {
  position: relative;
}

/* ul.check_box {
  list-style-type: none;
} */
ul {
  padding-left: 0;
}

li {
  padding-top: 10px;
  /* padding-bottom: 10px; */
  list-style-type: none;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.input-group {
  width: 268px !important;
}

.manualMenu {
  display: flex;
  /* justify-content: center; */
  margin: 2rem;
  /* margin-left: 120px; */
  /* margin-top: 2em; */
}

html {
  display: flex;
  justify-content: center;
}
/* button.submit {
  display: block;
  margin: 2em;
  width: 50%;
} */

.budget {
    margin-top: 20px;
}

/* .limits {
  display: grid;
  justify-content: space-evenly;
} */
button.btn.btn-outline-dark {
  margin-top: 30px;
}

/* details */
.goBack {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

th, td {
  
  background-color: lightgray;
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

p {
  margin-top: 20px;
  font-size: 18px;
}

svg {
  height: 30px;
  width: 35px;
  transform: scale(0.7);
  /* margin-right: 20px; */
  color: black;
}
.plus {
  margin: 2em;
  display: flex;
  justify-content: center;
  
}
input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.5);
}

h2.orderList {
  display: flex;
  justify-content: center;
}

.border{
    border: 1px solid grey;
    border-radius: 12px;
    padding: 2em;
    margin: 2em;
    background: aliceblue;
    position: relative;
  }

  button {
    border: 1px solid grey;
    border-radius : 12px;
    background : aliceblue;
    margin-left : 10px;
    position: relative;
  }

header {
  display: flex;
  justify-content: start;
  align-items: center;
  /* padding: 1rem; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #FF0000B8;
  background-color: #FFFFFF;
  ;
  z-index: 1;
}

.table {
  border: 1px solid grey;
  border-radius: 12px;
  padding: 2em;
  margin: 2em;
  background: aliceblue;
  position: relative;
}

input.form-control{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: var(--bs-border-width) solid var(--bs-border-color);
  appearance: none;
  border-radius: 0.375rem;
  padding-left: 2rem;
  background-color: rgba(238, 238, 238, 1);
}

.limit.row {
  border: 2px solid rgba(255,0,0,.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 20px;
  width: fit-content;
}

.btn-submit {
  display: grid;
  width: 60%;
  margin: 5em;
}

button.submit {
  border: 1px solid gray;
  border-radius : 12px;
  background : #FFFFFF;
  position: relative;
}

button.deletBtn {
  padding: 0;
  color: darkred;
  border: none;
  background: none;
}

.col-3 {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 2em;
  margin: 2em;
  position: relative;
  height: 10%;
  row-gap: 1em;
}

.limitation.row {
  border: 2px solid rgba(255, 0, 0, 0.25);
  border-radius: 17px;
  margin: inherit;
}

.limit.form-control {
  background-color: rgba(238, 238, 238, 1);
  margin-top: 10px;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  font-size: xxx;
  width: 26px;
}