a.btn.btn-primary {
    margin-right: 250px;
    margin-left: 10px;
}

img.card-img-top {
    margin: auto;
}

.card {
    margin: 1em;
}

.card-title {
    margin-left: 10px;
}

p.card-text {
    margin-left: 10px;
}