.App {
  text-align: center;
  margin-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  max-width: 100px;
  margin-left: 125px;
}
form {
  display: inline-flex;
}
button.add-btn {
  border-radius: 15px;
  margin-left: 20px;
  /* height: 24px; */
  height: 30px;
  width: 79px;
}

label {
  margin-left: 5px;
  margin-right: 5px;
}
.cointainer {
background-color: 6A1B1B;
}

.menu_selection {
  position: relative;
  padding-bottom: 40px;
}

ul.check_box {
  list-style-type: none;
}
li {
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.input-group {
  width: 268px !important;
}

.manualMenu {
    display: flex;
    justify-content: center;
    margin-left: 179px;
    margin-top: 20px;
}
html {
  display: flex;
  justify-content: center;
}